body{
max-width: 800px;
	align-self: center;
	align-content: center;
	background-color: blue;


}
div{

max-width: 450px;
border-color: green;
border-width: 8px;
background-color: orange;
}

main {
margin-left: 300px;
	width: 500px;
	max-width: 400px;
	align-content: center;

}
ul{
color:#FFEB3B;

}
#wrap{

	align-content: center;
}